@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Cairo:wght@200..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Cairo' , sans-serif;
}
.active {
  color: #14204a;
  border-bottom: 2px dotted #14204a;
}
.__AddGoodsform {
  padding: relative;
  display: block;
  color: black;
  width: 60%;
  border-radius: 10px;
  margin : 6px auto; 
  background-color: white;
  padding: 15px;
}
@media (max-width:576px) {
  .__AddGoodsform {
    width: 100%;
  }
}
@media (min-width : 577px) and (max-width : 899px) {
  .__AddGoodsform {
    width: 75%;
  }
}
.__AddGoodslabel {
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
}
.__Main-page-button-add,
.__Main-page-button-remove {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
.__Main-page-button-add {
  border: 1px solid #3b82f6;
  color: #3b82f6;
}
.__Main-page-button-remove {
  border: 1px solid rgb(128, 0, 49);
  color: rgb(128, 0, 49);
} 
.__Main-page-button-add:hover,
.__Main-page-button--remove:hover {
  background-color: azure;
}
.button-language {
  padding: 10px;
  border-radius: 6px;
  font-size: 12px;
  border: 1px solid #8eb2ec;
  color: #164da5;
  background-color: rgb(226, 226, 236);
  cursor: pointer; 
  margin-left: 5px;
}
.button-language:hover {
  background-color: azure;
}
@media (max-width : 351px ) {
  .__Navbar-logo {
    display: none;
  }
}