@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Cairo:wght@200..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Cairo' , sans-serif;
}
.active {
  color: #14204a;
  border-bottom: 2px dotted #14204a;
}
.__AddGoodsform {
  direction: rtl;
  padding: relative;
  display: block;
  color: black;
  width: 60%;
  border-radius: 10px;
  margin : 30px auto; 
  background-color: white;
  padding: 15px;
}
@media (max-width:576px) {
  .__AddGoodsform {
    width: 100%;
  }
}
@media (min-width : 577px) and (max-width : 899px) {
  .__AddGoodsform {
    width: 75%;
  }
}
.__AddGoodslabel {
  font-weight: bold;
  font-size: large;
}
.__Main-page-button {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: large;
  border: 1px solid #3b82f6;
  color: #3b82f6;
  cursor: pointer;
}
.__Main-page-button:hover {
  background-color: azure;
}
@media (max-width : 351px ) {
  .__Navbar-logo {
    display: none;
  }
}